.Cart-container {
    display: flex;
    justify-content: space-between;
    /* padding-left: 7rem; */
    padding-right: 7rem;
}


.Cart-heading-container {
    margin-bottom: 20px;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Cart-title-container h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1d2939;
}

.Cart-subtitle-container h1 {
    width: 60%;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.688rem;
    font-weight: 500;
    text-align: left;
    color: #667085;
}

.Cart-product-main-container {
    flex: 1;
    margin-right: 20px;

}

.Cart_product_container {
    height: 20rem;
    overflow-y: auto;
}

.Cart-billing-container {
    flex: 1 1;
    display: flex;
    border-radius: 8px;
    gap: 40%;
    padding-top: 0.8rem;
}

.Cart_card_add {
    top: auto;
    bottom: 66%;
    right: 4%;
    position: absolute;
    cursor: pointer;
}

.Cart_card_image {
    width: 9rem;
    height: 7.3rem;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Cart_card {
    width: 60%;
    margin: 1rem;
    display: flex;
    position: relative;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}



.Cart-sub-total {
    font-size: 1.125rem;
    font-weight: 700;
    color: #475467;
}

.Cart-delivery-fees {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
    color: #475467;
}

.Cart-total-fee {
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
    color: #475467;
}



.Cart-billing-column,
.Cart-prices-column {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.Cart-billing-column div,
.Cart-prices-column div {
    margin-bottom: 10px;
}


.Cart-price {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.Cart-prices-column {
    align-items: center;
    align-items: center;
    gap: 1.2rem;
}

.Cart-checkout-button button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: #41261d;
    border-radius: 8px;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    height: 2.5rem;
    border: none;
}

.Cart_card_content {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.Cart_card_quantity{
    font-size: 12px;
    font-weight: 600;
}


@media (max-width: 480px) {

    .Cart_product_container{
        height: 30rem;
    }
    .Cart-container {
        flex-direction: column;
        padding-right: 0;
    }

    .Cart-subtitle-container h1 {
        width: 100%;
    }

    .Cart_card {
        width: 87%;
    }

    .Cart-product-main-container {
        margin-right: 0;
    }

    .Cart-billing-container {
        gap: 11rem;
        padding-left: .8rem;
        padding-top: 0.8rem;
        justify-content: center;
        padding-bottom: 5rem;
    }

    .Cart_card_add {
        right: 5%;
        bottom: 74%;
    }

    .Cart_card_image {
        width: 7rem;
    }

    .Cart_card_content {
        gap: 0.5rem;
    }

    .Cart_card_top_content {
        display: flex;
        gap: 0.8rem;
        place-items: center;
    }

}