.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Cart-product-main-container {
    flex: 1;
    margin-right: 20px;
}

.hello-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5; 
    padding: 20px;
    border-radius: 8px;
}

.Cart_card_add{
    top: auto;
    bottom: 72%;
    right: 26%;
    position: absolute;
    cursor: pointer;
}

.Cart_card_image{
    width: 9rem;
    height: 7.8rem;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Cart_card{
    margin: 1rem;
    display: flex;
    position: relative;
    padding: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}









