.Desktop-header-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;

}

.header-mix-menu-section {
    cursor: pointer;
}

.Desktop-header-mobile-container {
    background-color: white;
}

.Desktop-header-container .header-mix-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header-mix-cart-section {
    cursor: pointer;
}

.header-logo-container {
    cursor: pointer;
}

.desktop-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}